<section class='tab inventory {{tab.cssClass}}' data-group='primary' data-tab='inventory' >

  <div class="inv">
    {{#each equipments as |item id|}}
      <div class="inv-item flexcol draggable" data-item-id='{{item._id}}' data-document-class='Item'>

        <label>{{item.system.bonus}}</label>
        <label>{{localize (concat "CORIOLIS_TGD.Item.Equipment.FIELDS.weight." item.system.weight "label")}}</label>
        <label>{{item.system.quantity}}</label>

        <div class="expandable-field" data-action="expand">
          {{{item.system.description}}}
          <p>{{localize "CORIOLIS_TGD.Item.Equipment.FIELDS.tech.label"}}: {{system.techDescription}}</p>
        </div>

      </div>
    {{/each}}
    {{#each weapons as |item id|}}
      <div class="inv-item flexcol draggable" data-item-id='{{item._id}}' data-document-class='Item'>

        <div>
          <a class='rollable' data-roll-type='item' data-action='roll'>
            <img src='{{item.img}}' data-tooltip='{{item.name}}'/>
          </a>
          <label class="item-name" data-tooltip="{{item.name}}">{{item.name}}</label>
        </div>

      </div>
    {{/each}}
  </div>

</section>
