<section
  class='tab stats {{tab.id}} {{tab.cssClass}}'
  data-group='primary'
  data-tab='{{tab.id}}'
>

<div class="stats flexcol">
  <div class="vigor stat-field flexrow">
    <div></div>
    <img src="systems/miniD6/assets/ui/sheets/actors/explorer/stat-bars/scale.svg" alt="">
  </div>

  <div class="vigor stat-field flexrow">
    <label>{{localize "MINID6.Actor.base.FIELDS.vigor"}}</label>
    <img src="systems/miniD6/assets/ui/sheets/actors/explorer/stat-bars/{{system.vigor}}.svg" data-tooltip="{{system.vigor}}">
  </div>

  <div class="think stat-field flexrow">
    <label>{{localize "MINID6.Actor.base.FIELDS.think"}}</label>
    <img src="systems/miniD6/assets/ui/sheets/actors/explorer/stat-bars/{{system.think}}.svg" data-tooltip="{{system.think}}">
  </div>

  <div class="oneiric stat-field flexrow">
    <label>{{localize "MINID6.Actor.base.FIELDS.oneiric"}}</label>
    <img src="systems/miniD6/assets/ui/sheets/actors/explorer/stat-bars/{{system.oneiric}}.svg" data-tooltip="{{system.oneiric}}">
  </div>

</div>

</section>
