{{! notes Tab }}
<section class='tab notes {{tab.id}} {{tab.cssClass}}' data-group='primary' data-tab='{{tab.id}}' style="width: 100%;">

  <div class="editor">
    <prose-mirror name="system.notes" value="{{system.notes}}" toggled="true">
    {{{enrichedNotes}}}
  </div>

</section>
