<section class="tab {{tab.id}} {{tab.cssClass}} flexrow" data-group="primary" data-tab="{{tab.id}}" >
  
  <div class="inventory">
    <h3>Inventory</h3>
    <hr>
    <div class="grid grid-items scrollable" style="height: 80%" data-tooltip='{{item.name}}' data-action="onSelectItem">

      {{#each equipments as |item id|}}
      <div class="item draggable" data-item-id="{{item._id}}" data-item-uuid="{{item.uuid}}" data-document-class="Item" data-action="onSelectItem">
        <img src='{{item.img}}' />
      </div>
      {{/each}}

    </div>
    
  </div>
  
  <div class="item-properties tif-frame dark bl">
    {{> systems/tif-rpg/templates/actor/parts/explorer/partials/inv-item-properties.hbs selection="inactive"}}
  </div>
  
  
</section>
