<section class='tab {{tab.id}} {{tab.cssClass}}' data-group='primary' data-tab='{{tab.id}}' >
  
  <div class="vigor stat-field flexrow">
    <label>{{localize "MINID6.Actor.base.FIELDS.vigor"}}</label>
    <img src="systems/miniD6/assets/ui/sheets/actors/explorer/stat-bars/{{system.vigor}}.svg" data-tooltip="{{system.vigor}}">
  </div>

</section>
